.ex-1-square{
  transition: background 3s;
}

.ex-1-square:hover{
  background-color: red;
}

.ex-2-square{
  transition:width 3s;
}

.ex-2-square:active{
  width:100%;
}

.ex-3-square{
  border: 1px solid red;
  transition-duration: .5s;
}

.ex-3-square:hover{
  border-radius: 50px;
  background-color: red;
}
